.bubble_container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: visible;
    min-height: 300px;
    max-height: 500px;
    height: auto;
}

.bubble{
    position: relative;
    border-radius: 30px; 
    background-color: rgb(120, 127, 214);
    color: white;
    font-size: 1.5rem;
    font-family: 'Raleway';
    transition: transform 0.3s ease-in-out;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
    padding-right: 25px;
    height: 60px;
    min-width: 60px;
    margin-right: 50px;
    margin-top: 25px;
    width: fit-content;
}
            