#intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.hsplit1{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    }

#intro_text_box h1{
    color: white;
    font-family: 'Lato', i;
    padding-left: 40px;
    }

#refimg{
    opacity: 0.3;
    }

#intro2{
    font-size: x-large;
    }

@media (min-width:1000px){
    #intro2{
        font-size: xx-large;
        max-width: 52%;
        }
    }

@media (orientation: portrait) {
    .hsplit1 img{
        display: none;
    }

}
